<!DOCTYPE html>
<head>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <title>Detroit Sports</title>
</head>

<h1><%=page.name%></h1>
<% include ../partials/header %>
<img alt="team" src="<%=page.img%>">
<br>
<div>
  <a href="<%=page.link%>"><%= page.name %> Team Page</a>
</div>
</html>
